@tailwind base;
@tailwind components;
@tailwind utilities;

.launch {
  animation: launch 2s forwards;
}

@keyframes launch {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(250px, -450px);
  }
}
